#soriee {

    

        background-image: url('../img/AE19.jpg');
        height: 250vh;
        height:900px;
        
      
}

#youtube {

        
        border-radius: 10px;
        opacity: 0.7;
}